<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form action="/c_register" method="POST">
    <label for="username">사용자 이름:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">가입</button>
</form>
<a href="/">돌아가기</a>
</body>
</html>
