<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form action="/api/login" method="POST" id="loginForm"> <!-- 백엔드 컨트롤러의 루트와 일치하도록 action 속성 업데이트 -->
    <label for="username">아이디:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">로그인</button>
</form>
<a href="/c_index">돌아가기</a>

<script>
  // 로그인 폼에 이벤트 리스너 추가
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault(); // 기본 폼 제출 동작을 막습니다.

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    // 서버로 POST 요청을 보냅니다.
    fetch('/api/login', { // 백엔드 루트와 일치하도록 URL 업데이트
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ username, password }),
    })
    .then(response => {
      if (response.ok) {
        console.log('로그인 성공');

        window.location.href = '/c_index';

      } else {
        console.error('로그인 실패');
        alert('로그인 정보가 올바르지 않습니다. 다시 시도하세요.');
      }
    })
    .catch(error => {
      console.error('오류 발생', error);
    });
  });
</script>

</body>
</html>
